body {
    background-color: #23bb3f;
}

.brand {
    font-family: Lato, Verdana;
    font-size: 2rem;
    font-weight: 60000;
    color:  #ffffff;
}

.btn-primary {
    color: #fff;
}


.light-bg {
    background-color: rgb(21, 199, 45);
}

.dark-bg {
    background-color: rgb(255, 255, 255)

}

.main-bg {
    background-color:  #23bb3f;
}

.card-body {
    border: 2px;
    background-color: transparent;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.image-container {
    position: relative;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}


.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #156703;
}

.post-title {
    color: #ffffff;
    margin-top: 5%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #ffffff;
    color: rgb(0, 255, 13);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #156703;

}

.link {
    color: #156703;
    text-decoration: none;

}

.link:hover,
.link:active {
    color: #000;
    text-decoration: none;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #ffffff;
    background: transparent;
    border: none;
}

.comment-form {
    max-width: 540px;
}