body {
    background-color: #000000;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 60000;
    color:  #7c7cdc;
}


.light-bg {
    background-color: rgb(255, 255, 255);
}

.dark-bg {
    background-color: #02172e;
}

.main-bg {
    background-color: #000000;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #8a8a8a;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e810d2;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #e810d2;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #e810d2;
    text-decoration: underline;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e810d2;
    background: transparent;
    border: none;
}

.post-image {
    height: 200px;
    width: 200px;
}