{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}




<div class="container-fluid">
    <div class="row">
        <a class="btn btn-primary" href="{% url 'user_post' %}">Make a Post</a>

        <!-- list of posts -->
        <div class="col-12 mt-3 left">
            <p>Welcome! Here you can find local football games or send let people know if you need any extra players. Look through the posts to see details or create a post yourself. Make an account so that you can comment and post.
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">

                                <div>
                                    <p class="author">{{ post.author }}</p>
                                </div>
                            
                                <a href="{% url 'post_detail' post.slug %}" class="link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <p class="card-text">{{ post.created_on}} 
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>  
        
    </div>
    <!-- if there are more than 9 posts then the pages will automatically paginate -->
    {% if is_paginated %}
    <div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>
{%endblock%}